<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sozax">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MILIS">

        <!-- トップ画面 -->
        <activity android:name="com.example.sozax.ui.TopActivity" android:configChanges="orientation|screenSize|fontScale" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ログイン画面 -->
        <activity android:name="com.example.sozax.ui.LoginActivity" android:configChanges="orientation|screenSize|fontScale" />
        <!-- メニュー画面 -->
        <activity android:name="com.example.sozax.ui.MenuActivity" android:configChanges="orientation|screenSize|fontScale" />
        <!-- 出庫処理(1/2) -->
        <activity android:name="com.example.sozax.ui.GoodsIssuePage1Activity" android:configChanges="orientation|screenSize|fontScale" />
        <!-- 出庫処理(2/2) -->
        <activity android:name="com.example.sozax.ui.GoodsIssuePage2Activity" android:configChanges="orientation|screenSize|fontScale" />
        <!-- 出庫伝票一覧 -->
        <activity android:name="com.example.sozax.ui.GoodsIssueListActivity" android:configChanges="orientation|screenSize|fontScale" />
        <!-- 在庫照会(1/2) -->
        <activity android:name="com.example.sozax.ui.InventoryInquiryPage1Activity" android:configChanges="orientation|screenSize|fontScale" />
        <!-- 在庫照会(2/2) -->
        <activity android:name="com.example.sozax.ui.InventoryInquiryPage2Activity" android:configChanges="orientation|screenSize|fontScale" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>